# First analysis of raw data

In [1]:
# import packages

import pandas as pd
import os
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.ticker import AutoLocator

# load directories for reading/writing files
thedir = os.getcwd()
datadir_1 = os.path.abspath(os.path.join(os.path.dirname(thedir), '..', 'data/raw/2022-1'))
datadir_2 = os.path.abspath(os.path.join(os.path.dirname(thedir), '..', 'data/raw/2022-2'))
writedir = os.path.abspath(os.path.join(os.path.dirname(thedir), '..', 'data/interim'))
figdir=os.path.abspath(os.path.join(os.path.dirname(thedir), '..', 'figures'))

# get list of files and number of files to load
files_1 = os.listdir(datadir_1)
files_2 = os.listdir(datadir_2)
loggers=len(files_1)

In [2]:
files_2

['Log_204.csv',
 'Log_201.csv',
 'Log_207.csv',
 'Log_205.csv',
 'Log_203.csv',
 'Log_202.csv',
 'Log_206.csv']

In [3]:
obs_1 = []
for i in files_1:
    try:
        a = pd.read_csv(F"{datadir_1}/{i}",header =1)
        log = i[:7]
        a = a.iloc[:,[1,2]]
        mapping = {a.columns[0]: F'dt',a.columns[1]:log}
        a.rename(columns=mapping,inplace = True)
        a.set_index('dt',inplace=True,drop=True)
        obs_1.append(a)
    except:
        "not a real file"
obs_2 = []
for i in files_1:
    try:
        a = pd.read_csv(F"{datadir_2}/{i}",header =1)
        log = i[:7]
        a = a.iloc[:,[1,2]]
        mapping = {a.columns[0]: F'dt',a.columns[1]:log}
        a.rename(columns=mapping,inplace = True)
        a.set_index('dt',inplace=True,drop=True)
        obs_2.append(a)
    except:
        "not a real file"

In [12]:
for i in range(len(obs_1)-1):
    if i == 0:
        df_1 = pd.merge_ordered(left = obs_1[0],right = obs_1[1],how = 'outer',fill_method= None,on = 'dt')
    else:
        df_1 = pd.merge_ordered(left = df_1,right = obs_1[i+1],how = 'outer',fill_method= None,on = 'dt')
for i in range(len(obs_2)-1):
    if i == 0:
        df_2 = pd.merge_ordered(left = obs_2[0],right = obs_2[1],how = 'outer',fill_method= None,on = 'dt')
    else:
        df_2 = pd.merge_ordered(left = df_2,right = obs_2[i+1],how = 'outer',fill_method= None,on = 'dt')
df_1['dt'] = pd.to_datetime(df_1.dt,format = '%d/%m/%y %H:%M:%S')
df_2['dt'] = pd.to_datetime(df_2.dt,format = '%d/%m/%y %H:%M:%S')

In [16]:
df_1.sort_values('dt',inplace=True)

In [17]:
df_2.sort_values('dt',inplace=True)

In [20]:
df_1.set_index('dt',inplace=True,drop=True)
df_2.set_index('dt',inplace=True,drop=True)

In [23]:
df_1.iloc[:-4,:]

,Log_204,Log_201,Log_207,Log_205,Log_203,Log_202,Log_206
dt,,,,,,,
2022-07-09 00:00:00,18.996,20.329,18.426,19.567,20.710,20.329,15.378
2022-07-09 00:10:00,18.806,20.234,17.570,19.377,20.615,20.234,14.517
2022-07-09 00:20:00,18.616,20.043,16.427,19.282,20.615,20.138,13.942
2022-07-09 00:30:00,18.616,20.043,15.951,18.331,20.424,20.043,13.750
2022-07-09 00:40:00,18.426,19.948,14.900,18.140,20.329,19.853,14.038
...,...,...,...,...,...,...,...
2022-08-14 10:40:00,NaN,NaN,21.473,NaN,NaN,NaN,NaN
2022-08-14 10:50:00,NaN,NaN,21.855,NaN,NaN,NaN,NaN
2022-08-14 11:00:00,NaN,NaN,23.100,NaN,NaN,NaN,NaN
2022-08-14 11:10:00,NaN,NaN,22.812,NaN,NaN,NaN,NaN
2022-08-14 11:20:00,NaN,NaN,23.004,NaN,NaN,NaN,NaN

In [ ]:
df["time"] = pd.to_datetime(df.dt,format = '%d/%m/%y %H:%M:%S')

In [ ]:
df.sort_values('time')

In [ ]:
obs_2[0]

In [ ]:
# Load files into list of dataframes
# Get minimum length of observations so all data runs through same timeframe
# rename columns with logger names, grab only relevant columns
mylist = []
mylength = []
for i in files:
    print(i)
    try:
        a = pd.read_csv(F"{datadir}/{i}",header =1)
        mylength.append(len(a))
        log = i[:7]
        a = a.iloc[:,[0,1,2]]
        mapping = {a.columns[0]: F"number_{log}", a.columns[1]: F'dt_{log}',a.columns[2]:log}
        a.rename(columns=mapping,inplace = True)
        mylist.append(a)
    except:
        "not a real file"
min_length= min(mylength)

## concatenate along columns to create new df.
df = pd.concat(newlist,axis = 1)

# convert date time
df["time"] = pd.to_datetime(df.dt_Log_201,format = '%d/%m/%y %H:%M:%S')

#mark days
df["mon_day"] = df.time.dt.to_period("d")

## extract only relevant columns data
cols = ['mon_day','time']
for i in df.columns:
    if i[:3] == "Log":
        cols.append(i)
temps_ = df[cols].copy()

# write to csv
temps_.to_csv(F"{writedir}/alldata.csv")

In [ ]:
# lineplot of all values
log_cols = [ x for x in temps_.columns if x[:3] == "Log" ]
log_cols.append("time")
mydata = temps_[log_cols]
mydata_m = mydata.melt('time', var_name='logger', value_name='temps')
fix,axs = plt.subplots(figsize = (16,16))
sns.lineplot(data=mydata_m, x=mydata_m.time.astype(str),y='temps',hue = 'logger')
axs.set_title("Temperature values July 08th - August 10th")
plt.xlabel("Day")
plt.ylabel("Mean daily temperature (°C)")
plt.title("Daily temperature means 15-05.2018 - 15-09.2018")
loc = AutoLocator()
axs.xaxis.set_major_locator(loc)
plt.tight_layout()
plt.savefig(F'{figdir}/biel-july-all-data.png')
plt.show()

In [ ]:
## aggregate by daily values (max, min, mean, var)
log_cols = [ x for x in temps_.columns if x[:3] == "Log" ]

#create dictionaries for use in aggregation
maxl = ["max"]*loggers
minl = ["min"]*loggers
meanl = ["mean"]*loggers
varl = ["var"]*loggers
max_ = dict(zip(log_cols,maxl))
min_ = dict(zip(log_cols,minl))
mean_ = dict(zip(log_cols,meanl))
var_ = dict(zip(log_cols,varl))

# agg by daily values
daily_max = temps_.groupby(["mon_day"]).agg(max_)
daily_min = temps_.groupby(["mon_day"]).agg(min_)
daily_mean = temps_.groupby(["mon_day"]).agg(mean_)
daily_var = temps_.groupby(["mon_day"]).agg(var_)
daily_max.reset_index(inplace=True)
daily_min.reset_index(inplace=True)
daily_mean.reset_index(inplace=True)
daily_var.reset_index(inplace=True)
log_cols.append("mon_day")

In [ ]:
# plot the max, min, var, and mean temp for each station

fig, axs = plt.subplots(2,2,figsize=(14,14))
mydata = daily_max[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax=axs[0,0])
axs[0,0].set_title("Maximum daily temperature")
axs[0,0].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_min[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[0,1])
axs[0,1].set_title("Minimum daily temperature")
axs[0,1].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_mean[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[1,0])
axs[1,0].set_title("Mean daily temperature")
axs[1,0].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_var[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[1,1])
axs[1,1].set_title("variance of daily temperature")
axs[1,1].xaxis.set_major_locator(ticker.AutoLocator())
plt.tight_layout()
plt.savefig(F"{figdir}/all-sensors-stats-biel-2022.png",bbox_inches='tight', dpi = 200)
plt.show()

In [ ]:
# Assign groups based on features 
temps_['mean_rural'] = (temps_.Log_206 + temps_.Log_207)/2
temps_['mean_urban'] = (temps_.Log_201 + temps_.Log_202 + temps_.Log_203+ temps_.Log_204+ temps_.Log_205)/5
temps_['mean_parks'] = (temps_.Log_204 + temps_.Log_205)/2

In [ ]:
# create new urban mean excluding parks and get overall mean of all logs
temps_['mean_urban'] = (temps_.Log_201 + temps_.Log_202 + temps_.Log_203)/3
temps_['mean'] = temps_.mean(numeric_only=True,axis = 1)
log_cols = [ x for x in temps_.columns if x[:4] == "mean" ]

# number of groups
length = 4

#create dictionaries for use in aggregation
maxl = ["max"]*length
minl = ["min"]*length
meanl = ["mean"]*length
varl = ["var"]*length
max_ = dict(zip(log_cols,maxl))
min_ = dict(zip(log_cols,minl))
mean_ = dict(zip(log_cols,meanl))
var_ = dict(zip(log_cols,varl))

# agg by daily values
daily_max = temps_.groupby(["mon_day"]).agg(max_)
daily_min = temps_.groupby(["mon_day"]).agg(min_)
daily_mean = temps_.groupby(["mon_day"]).agg(mean_)
daily_var = temps_.groupby(["mon_day"]).agg(var_)
daily_max.reset_index(inplace=True)
daily_min.reset_index(inplace=True)
daily_mean.reset_index(inplace=True)
daily_var.reset_index(inplace=True)
log_cols.append("mon_day")

In [ ]:
# plot the max, min, var, and mean temp for each station
fig, axs = plt.subplots(2,2,figsize=(14,14))
mydata = daily_max[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
a=sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax=axs[0,0])
axs[0,0].set_title("Maximum daily temperature")
axs[0,0].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_min[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[0,1])
axs[0,1].set_title("Minimum daily temperature")
axs[0,1].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_mean[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[1,0])
axs[1,0].set_title("Mean daily temperature")
axs[1,0].xaxis.set_major_locator(ticker.AutoLocator())
mydata = daily_var[log_cols]
mydata_m = mydata.melt('mon_day', var_name='logger', value_name='temps')
sns.lineplot(data=mydata_m, x=mydata_m['mon_day'].astype(str),y='temps',hue = 'logger',ax = axs[1,1])
axs[1,1].set_title("variance of daily temperature")
axs[1,1].xaxis.set_major_locator(ticker.AutoLocator())
plt.tight_layout()
plt.savefig(F"{figdir}/summary_grouped_biel_2022.png",bbox_inches='tight', dpi = 200)
plt.show()